<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
        <% if (htmlWebpackPlugin.options.sentryConfig) { %>
          <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
  </head>
  <body>
  </body>
   
  <script src="./static/scratch-blocks/blockly_uncompressed_vertical.js"></script>
  <script src="./static/scratch-blocks/msg/messages.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/vertical_extensions.js"></script>
  <script src="./static/scratch-blocks/blocks_common/math.js"></script>
  <script src="./static/scratch-blocks/blocks_common/text.js"></script>
  <script src="./static/scratch-blocks/blocks_common/colour.js"></script>
  <script src="./static/scratch-blocks/blocks_common/note.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/control.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/event.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/motion.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/looks.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/procedures.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/operators.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/sound.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/sensing.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/data.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/extensions.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/default_toolbox.js"></script>
  <script src="./static/scratch-blocks/blocks_vertical/default_toolbox.js"></script>
  <script>
      window.localBlockly = Blockly;
  </script>
</html>
